<div class="divpanal">
  <h1 class="text-center"></h1>
  <div class="container how">
      <div class="panel panel-default">
          <div class="panel-heading text-center">Cange Admin Password</div>
              <form novalidate name="myForm" method="POST"    class="form-horizontal" (submit)='mysubmit()'>      
                  <div class="form-group" [ngClass]="{ 'has-error' : password.errors?.minlength && password.touched || password.errors?.required && password.touched || UserError.password }" (click)="click('password')" >
                    <label for="password" class="col-md-4 control-label">Old Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" [(ngModel)]='user.password' #password="ngModel" name="password" required minlength="7" required>
                
                    </div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error' : newpassword.errors?.minlength && newpassword.touched || newpassword.errors?.required && newpassword.touched || UserError.newpassword }" (click)="click('newpassword')" > 
                    <label for="password-confirm" class="col-md-4 control-label">New Password</label>

                    <div class="col-md-6">
                        <input id="passwordConfirm" type="password" class="form-control" [(ngModel)]='user.newpassword' #newpassword="ngModel" name="newpassword" required minlength="7" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-success" >
                            Click !Change
                        </button>
                    </div>
                </div>
            </form>
      </div> 
  </div>
</div>