.panel-default > .panel-heading {
margin-bottom: 30px;
}
.dactiv  li a{
    cursor: pointer;
}

.panel-default > .panel-heading {
    color: #FFF;
    background-color: #2E353d;
    border-color: #2E353d;
}

.divpanal .panel-body{
    background-color: #1c1d26;
   
}
.panel{
    border: none;
    background-color: transparent;
}
label{
    color: antiquewhite;
}